body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

#content {
    display: flex;
}

#items-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    background-color: #888;
    box-sizing: border-box;
    max-width: 400px;
}

#rest-of-page {
    flex-grow: 1;
}

.Oil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #444;
    color: #fff;
    padding: 10px;
}

.Oil img {
    height: 30px;
    margin-right: 10px;
}

.Oil .input-container {
    display: flex;
    align-items: center;
}

.Oil input {
    margin-left: 10px;
    background: transparent;
    border: none;
    color: #fff;
    text-align: right;
    width: 50px;
    height: 30px;
}

.Oil input:focus {
    outline: none;
    border: 1px solid #fff;
}
